[submodule "archives"]
	path = archives
	url = https://gitlab.com/sosy-lab/sv-comp/archives-2021
[submodule "sv-benchmarks"]
	path = sv-benchmarks
	url = https://gitlab.com/sosy-lab/software/sv-benchmarks
[submodule "benchexec"]
	path = benchexec
	url = https://gitlab.com/sosy-lab/software/benchexec
