[submodule "archives"]
	path = archives
	url = ../archives-2021
[submodule "sv-benchmarks"]
	path = sv-benchmarks
	url = ../../software/sv-benchmarks
[submodule "benchexec"]
	path = benchexec
	url = ../../software/benchexec
